body{
	padding-top: 60px;
}

body, label, .checkbox label{
	font-weight:300;
}

ul{
	list-style-type: none;
}

th{
	text-align: center;
}

td{
	vertical-align: middle;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.price{
	font-size: 20px; 
	color: #3366FA;
	font-weight: bold;
}

